.accountPage {
	padding: 20px;
	margin: 20px 250px;
	background: #afc0cf;
	display: flex;
	flex-direction: column;
	border-radius: 20px;

	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.pageTitle {
		margin: 0;
		font-size: 1.8rem;
		font-weight: 600;
	}

	.actionBtn {
		background: #d9d9d9;
		border: none;
		padding: 0.5rem 1.2rem;
		border-radius: 8px;
		cursor: pointer;
		font-weight: 500;
		white-space: nowrap;

		&:hover {
			background: #cfcfcf;
		}
	}

	.userIcon {
		font-size: 2.2rem;
		color: #000;
	}

	.titleRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
	}

	.titleGroup {
		display: flex;
		align-items: center;
		gap: 0.8rem;
	}

	input {
		padding: 0.5rem 1.2rem;
		border-radius: 8px;
		border: none;
		outline: none;
		font-size: 1.2rem;
	}

	label {
		font-size: 1.2rem;
		font-weight: 500;
	}

	p {
		font-size: 1.2rem;
		font-weight: bold;
	}

	button {
		background: #083e7b;
		color: #ffffff;
		padding: 0.5rem 1.2rem;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		margin-top: 20px;
		margin-left: auto;
		font-size: 1.2rem;
		font-weight: 500;
	}
}