* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:not(header h1) {
        font-family: "itim", sans-serif;    
    }
}

@font-face {
    font-family: "itim";
    src: url("/Itim.ttf") format("truetype");
}