.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #afc0cf;
    width: 600px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: absolute;
    padding: 20px 30px;
    gap: 15px;
    border-radius: 8px;

    input, textarea {
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
    }

    label {
        align-self: flex-start;
        font-size: 18px;
        color: #083e7b;
    }

    h2 {
        color: #083e7b;
        font-size: 25px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #083e7b;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: max-content;
        width: 100%;

        &:hover {
            background-color: #062d57;
        }
    }

    textarea {
        resize: none;
        min-height: 200px;
        width: 100%;
    }
}